@import 'color-math';
$primary: $color-mathphys;//orange
$accent: $color-secondary;
$warn: 'pink';

// If desired, import the palettes and modify to your liking.
@import 'color-math';
@import 'color-palette';

@import 'ember-paper';
@import 'ember-paper-stepper';
@import 'paper-data-table';
