md-datepicker {
  background: #fafafa;
}

.datepicker-reset {
  position: relative;
  line-height: 20px;
  text-align: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  padding: 0;
  font-size: 12px;
  background: transparent;
  margin: auto 5px;
}

.calendar-moozean {
  @include ember-power-calendar($cell-size: 30px, $primary-color: #990000);
}

.md-datepicker {
  border-radius: 2px;
  display: block;
  height: 40px;
  margin: 0;
  border-width: 0;
  vertical-align: baseline;
  position: relative;
  overflow: visible;
  font-size: 14px;
  box-sizing: border-box;
  outline: none;
  background: transparent;
  width: 100%;
  padding: 0 15px;
  line-height: 40px;
  background: #fafafa;
}

md-input-container .md-errors-spacer {
  min-height: 0;
}

md-input-container .md-input {
  height: 100%;
  border: none;
}

.ember-power-calendar {
  top: 38px;
  left: 0;
}

.calendar-moozean .ember-power-calendar-day--selected {
  color: white;
}
