{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#paper-sidenav-toggle name="left2" as |toggleAction|}}
      {{#paper-button
        classNames="hide-gt-sm"
        iconButton=true
        onClick=(action toggleAction)
      }}
        {{paper-icon icon="menu"}}
      {{/paper-button}}
    {{/paper-sidenav-toggle}}
    <h2>
      Fehler!
    </h2>
    <span class="flex"></span>
    {{#paper-button iconButton=true}}
      {{paper-icon "more_vert"}}
    {{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
{{#paper-content}}
  <center>
    {{paper-icon "error" size=512}}
  </center>
  <center>
    <h2>
      Ein Fehler ist aufgetreten...
    </h2>
  </center>
{{/paper-content}}